/* --------------- CONTACTO ---------------- */
@mixin texto($fuente, $tamanioFuente, $colorFuente) {
    font-family: $fuente;
    font-size: $tamanioFuente;
    color: $colorFuente;
 }
// FORM CONTACTO //
.formularioContacto{
    width: 50%;
    margin: auto;
    // CONTENEDORES //
    &__contenedorInput{
        margin: auto;
        height: 2.5rem;
    }
    &__contenedorInput--mensaje{
        height: 5rem;
    }
    &__contenedorBotones{
        @extend .formularioContacto__contenedorInput;
        width: 50%;
    }
    // INPUTS //
    &__input{
        width: 100%;
        background-color: #2B2343;
        @include texto($fuentePrincipal, 1rem, $colorPrincipal);
    }
    &__input--mensaje{
        @extend .formularioContacto__input;
        height: 100%;
        resize: none;
    }
    &__boton{
        @extend .formularioContacto__contenedorInput;
        height: 80%;
        background-color: $colorSecundario;
        border: solid 1px $colorPrincipal;
        width: 100%;
        margin-top: 0.6rem;
        @include texto($fuentePrincipal, 1rem, $colorPrincipal);
    }
    &__boton:focus{
        background-color: $colorPrincipal;
        border: solid 1px $colorSecundario;
        color: $colorSecundario;
    }
}
// NEWSLETTER //
.seccionNewsletter{
    background-color: #574686;
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 2rem;
    &__contenedor{
        max-width: 50%;
    }
    &__formCheck{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    }
    &__texto{
        @include texto($fuentePrincipal, 1.25rem, $blanco);
    }
    &__mail{
        @extend .formularioContacto__input;
        width: auto;
        background-color: #2B2343;
    }
    &__boton{
        background-color: $colorSecundario;
        border: solid 1px $colorPrincipal;
        @include texto($fuentePrincipal, 1rem, $colorPrincipal)
    }
    &__boton:focus{
        background-color: $colorPrincipal;
        border: solid 1px $colorSecundario;
        color: $colorSecundario;
    }
}
// REDES //
.contenedorRedesContacto{
    display: flex;
    width: 24.6rem;
    margin: auto;
    justify-content: space-between;
    &__logo{
        width: 5rem;
    }
}