/* --------------- CONTACTO ---------------- */
@mixin texto($fuente, $tamanioFuente, $colorFuente) {
    font-family: $fuente;
    font-size: $tamanioFuente;
    color: $colorFuente;
 }
 
/* --------------- MEDIA QUERY --------------- */
@media only screen and (max-width:600px){
    .formularioContacto{
        width: 90%;
        margin: auto;
        padding-bottom: 1rem;
        // CONTENEDORES //
        &__contenedorInput{
            margin: auto;
            height: 2.5rem;
        }
        &__contenedorInput--mensaje{
            height: 5rem;
        }
        &__contenedorBotones{
            margin: auto;
            height: 2.5rem;
            width: 50%;
        }
        // INPUTS //
        &__input{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
        }
        &__input--mensaje{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            height: 100%;
            resize: none;
        }
        &__boton{
            margin: auto;
            height: 80%;
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            width: 100%;
            margin-top: 0.6rem;
            @include texto($fuentePrincipal, 0.8rem, $colorPrincipal);
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // NEWSLETTER //
    .seccionNewsletter{
        background-color: #574686;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        &__contenedor{
            max-width: 100%;
        }
        &__formCheck{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
        }
        &__texto{
            @include texto($fuentePrincipal, 1.25rem, $blanco);
        }
        &__mail{
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            width: auto;
            background-color: #2B2343;
        }
        &__boton{
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal)
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // REDES //
    .secccionRedesContacto{
        padding-top: 1rem;
    }
    .contenedorRedesContacto{
        display: flex;
        width: 70%;
        margin: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        &__logo{
            width: 3.5rem;
        }
    }
}
/* MIN 600px */
@media only screen and (min-width:600px){
    // FORM CONTACTO //
    .formularioContacto{
        width: 75%;
        margin: auto;
        padding-bottom: 1.5rem;
        // CONTENEDORES //
        &__contenedorInput{
            margin: auto;
            height: 2.5rem;
        }
        &__contenedorInput--mensaje{
            height: 5rem;
        }
        &__contenedorBotones{
            margin: auto;
            height: 2.5rem;
            width: 50%;
        }
        // INPUTS //
        &__input{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
        }
        &__input--mensaje{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            height: 100%;
            resize: none;
        }
        &__boton{
            margin: auto;
            height: 80%;
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            width: 100%;
            margin-top: 0.6rem;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // NEWSLETTER //
    .seccionNewsletter{
        background-color: #574686;
        padding: 1.5rem 0 1.5rem 0;
        text-align: center;
        &__contenedor{
            max-width: 75%;
        }
        &__formCheck{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
        }
        &__texto{
            @include texto($fuentePrincipal, 1.25rem, $blanco);
        }
        &__mail{
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            width: auto;
            background-color: #2B2343;
        }
        &__boton{
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal)
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // REDES //
    .secccionRedesContacto{
        padding-top: 1.5rem;
    }
    .contenedorRedesContacto{
        display: flex;
        width: 24.6rem;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        &__logo{
            width: 5rem;
        }
    }
}
/* MIN 992px */
@media only screen and (min-width:992px){
    // FORM CONTACTO //
    .formularioContacto{
        width: 50%;
        margin: auto;
        padding-bottom: 1.5rem;
        // CONTENEDORES //
        &__contenedorInput{
            margin: auto;
            height: 2.5rem;
        }
        &__contenedorInput--mensaje{
            height: 5rem;
        }
        &__contenedorBotones{
            margin: auto;
            height: 2.5rem;
            width: 50%;
        }
        // INPUTS //
        &__input{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
        }
        &__input--mensaje{
            width: 100%;
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            height: 100%;
            resize: none;
        }
        &__boton{
            margin: auto;
            height: 2.5rem;
            height: 80%;
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            width: 100%;
            margin-top: 0.6rem;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // NEWSLETTER //
    .seccionNewsletter{
        background-color: #574686;
        padding: 1.5rem 0 1.5rem 0;
        text-align: center;
        &__contenedor{
            max-width: 50%;
        }
        &__formCheck{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
        }
        &__texto{
            @include texto($fuentePrincipal, 1.25rem, $blanco);
        }
        &__mail{
            background-color: #2B2343;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal);
            width: auto;
            background-color: #2B2343;
        }
        &__boton{
            background-color: $colorSecundario;
            border: solid 1px $colorPrincipal;
            @include texto($fuentePrincipal, 1rem, $colorPrincipal)
        }
        &__boton:focus{
            background-color: $colorPrincipal;
            border: solid 1px $colorSecundario;
            color: $colorSecundario;
        }
    }
    // REDES //
    .secccionRedesContacto{
        padding-top: 1.5rem;
    }
    .contenedorRedesContacto{
        display: flex;
        width: 24.6rem;
        margin: auto;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        &__logo{
            width: 5rem;
        }
    }
}