.body404{
    background-color: $colorSecundario;
}
.error404{
    text-align: center;
    margin: auto;
    &__titulo{
        margin-top: 20%;
        font-size: 6rem;
    }
    &__contenedorLogoParrafo{
        display: flex;
        flex-direction: row;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    &__logo{
        height: 11rem;
        width: 11rem;
    }
    &__subtitulo{
        font-size: 4rem;
    }
    &__parrafo{
        color: $blanco;
        font-size: 2rem;
        text-align: center;
    }
    &__link{
        color: $colorPrincipal;
    }
    &__link:focus{
        color: $blanco;
    }
}
/* --------------- MEDIA QUERY --------------- */
@media only screen and (max-width:600px){
    
    .error404{
        &__titulo{
            margin-top: 20%;
            font-size: 4rem;
        }
        &__contenedorLogoParrafo{
            display: flex;
            flex-direction: column;
            margin: auto;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        &__logo{
            height: 9rem;
            width: 9rem;
        }
        &__subtitulo{
            font-size: 2rem;
        }
        &__parrafo{
            color: $blanco;
            font-size: 1.5rem;
            text-align: center;
        }
        &__link{
            color: $colorPrincipal;
        }
    }
}
/* MIN 600px */
@media only screen and (min-width:600px){
}
/* MIN 992px */
@media only screen and (min-width:992px){
}