/* --------------- INICIO --------------- */
.tituloSupernovaBeats{
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2rem;
}
.tituloNovedades{
    font-size: 3rem;
}
.articuloNovedades{
    text-align: center;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    &__titulo{
        color: $colorPrincipal;
        font-family: 'Merriweather', serif;
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        font-weight: bold;
    }
    &__texto{
        color: $blanco;
        font-size: 1.25rem;
    }
    &__link{
        color: $colorPrincipal;
    }
    &__link:focus{
        color: $blanco;
    }
}
.tablaComparativaBeats{
    margin: auto;
    &__titulos{
        color: $colorPrincipal;
    }
    &__texto{
        color: $blanco;
    font-size: 1.25rem;
    }
}
/* --------------- MEDIA QUERY --------------- */
@media only screen and (max-width:600px){
    .tituloSupernovaBeats{
        font-size: 3rem;
        font-family: 'Lato', sans-serif;
        margin-bottom: 2rem;
    }
    .tituloNovedades{
        font-size: 2.5rem;
    }
    .articuloNovedades{
        text-align: center;
        padding: 0;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto;
        &__titulo{
            color: $colorPrincipal;
            font-family: 'Merriweather', serif;
            font-size: 1.25rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }
        &__texto{
            color: $blanco;
            font-size: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        &__link{
            color: $colorPrincipal;
        }
    }
    .tablaComparativaBeats{
        margin: auto;
        &__titulos{
            font-size: 1rem;
            color: $colorPrincipal;
        }
        &__texto{
            color: $blanco;
            font-size: 1rem;
        }
    }
}
/* MIN 600px */
@media only screen and (min-width:600px){
    .tituloSupernovaBeats{
        font-size: 3.25rem;
        font-family: 'Lato', sans-serif;
        margin-bottom: 2rem;
    }
    .tituloNovedades{
        font-size: 2.75rem;
    }
    .articuloNovedades{
        text-align: center;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: auto;
        &__titulo{
            color: $colorPrincipal;
            font-family: 'Merriweather', serif;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
            font-weight: bold;
        }
        &__texto{
            color: $blanco;
            font-size: 1.25rem;
        }
        &__link{
            color: $colorPrincipal;
        }
    }
    .tablaComparativaBeats{
        margin: auto;
        &__titulos{
            color: $colorPrincipal;
        }
        &__texto{
            color: $blanco;
        font-size: 1.25rem;
        }
    }
}
/* MIN 992px */
@media only screen and (min-width:992px){
    .tituloSupernovaBeats{
        font-size: 4rem;
        font-family: 'Lato', sans-serif;
        margin-bottom: 2rem;
    }
    .tituloNovedades{
        font-size: 3rem;
    }
    .articuloNovedades{
        text-align: center;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: auto;
        &__titulo{
            color: $colorPrincipal;
            font-family: 'Merriweather', serif;
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
            font-weight: bold;
        }
        &__texto{
            color: $blanco;
            font-size: 1.25rem;
        }
        &__link{
            color: $colorPrincipal;
        }
    }
    .tablaComparativaBeats{
        margin: auto;
        &__titulos{
            color: $colorPrincipal;
        }
        &__texto{
            color: $blanco;
        font-size: 1.25rem;
        }
    }
}