/* ----------------SOBRE MI---------------- */
.contenedorSobreMi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__logo{
        height: 12rem;
        width: 12rem;
        order: 1;
        margin-left: 1rem;
    }
    &__parrafo{
        color: $blanco;
        width: 60%;
        font-size: 1.2rem;
    }
}

/* --------------- MEDIA QUERY --------------- */
@media only screen and (max-width:600px){
    .contenedorSobreMi{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo{
            height: 8rem;
            max-width: 8rem;
            margin-bottom: 1rem;
        }
        &__parrafo{
            color: $blanco;
            font-size: 1rem;
            width: auto;
            max-width: 90%;
        }
    }
    .contenedorAlgunosTrabajos{
        &__contenedorVideos{
           height: 100%;
        }
        &__contenedorVideo{
           height: 100%; 
           margin: auto;
           width: auto;
        }
        &__video{
           width: 100%;
           height: auto;
           margin: auto;
       }
   }
}
/* MIN 600px */
@media only screen and (min-width:600px){
    .contenedorAlgunosTrabajos{
        &__contenedorVideos{
           height: 100%;
        }
        &__contenedorVideo{
           height: 100%; 
           margin: auto;
           width: auto;
        }
        &__video{
           width: 30rem;
           height: 15rem;
           margin: auto;
       }
   }
}
/* MIN 992px */
@media only screen and (min-width:992px){
    .contenedorAlgunosTrabajos{
        &__contenedorVideos{
           height: 100%;
        }
        &__contenedorVideo{
           height: 100%; 
           margin: auto;
           width: auto;
        }
        &__video{
           width: 40rem;
           height: 20rem;
           margin: auto;
       }
   }
}