/* --------------- COLORES --------------- */
$colorPrincipal:#d04767;
$colorSecundario:#3a2f5a;
$blanco: #ffffff;
$negro:#09070D;
/* --------------- LETRA --------------- */
$fuentePrincipal: 'Lato', sans-serif;